<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Facturas</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/facturas/nueva">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-4">
    <ion-text>
      <h2>Gestión de Facturas</h2>
      <p>Módulo en desarrollo...</p>
    </ion-text>
  </div>
</ion-content>
