<ion-header class="safe-area-header factura-form-header">
  <div class="safe-area-spacer"></div>
  <ion-toolbar class="header-toolbar">
    <ion-back-button defaultHref="/facturas"></ion-back-button>
    <ion-title class="header-title">Formulario Factura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="safe-area-content factura-form-content">
  <div class="p-4">
    <ion-text>
      <h2>Formulario de Factura</h2>
      <p>Módulo en desarrollo...</p>
    </ion-text>
  </div>
</ion-content>
