<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Seleccionar Dispositivo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Buscando dispositivos...</p>
  </div>

  <div *ngIf="!isLoading">
    <ion-list *ngIf="devices.length > 0; else noDevices">
      <ion-item
        button
        *ngFor="let device of devices"
        (click)="selectDevice(device)"
      >
          <ion-label>
            <h2>{{ device.name || 'Dispositivo sin nombre' }}</h2>
            <p>{{ device.address }}</p>
          </ion-label>
      </ion-item>
    </ion-list>

    <ng-template #noDevices>
      <div class="ion-text-center ion-padding">
        <ion-note>No se encontraron dispositivos.</ion-note>
      </div>
    </ng-template>
  </div>
</ion-content>
